<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431586070612-j6mqdq0c1l1r4adrmt788c06g6vd2g8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431586070612-j6mqdq0c1l1r4adrmt788c06g6vd2g8q</string>
	<key>API_KEY</key>
	<string>AIzaSyCdqCiqzPizwKzJU8hobBQT57frnK9_VxA</string>
	<key>GCM_SENDER_ID</key>
	<string>431586070612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatme.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatme-9cc24</string>
	<key>STORAGE_BUCKET</key>
	<string>chatme-9cc24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431586070612:ios:ed3e48cac3976cb0a81dc1</string>
</dict>
</plist>